.mission-item label {
    display:inline;
    font-weight:bold;
    margin-right:20px;
    width: 100px;
}
.mission-item h3 {
    color:darkblue;
    margin-bottom:5px;
}
.selected {
    background-color:lightgrey;
}